@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.rdp {
  --rdp-cell-size: 40px; /* Size of the day cells. */
  --rdp-caption-font-size: 18px; /* Font size for the caption labels. */
  --rdp-accent-color: #000000 !important; /* Accent color for the background of selected days. */
  --rdp-background-color: #f7f7f7 !important; /* Background color for the hovered/focused elements. */
  --rdp-accent-color-dark: #000 !important; /* Accent color for the background of selected days (to use in dark-mode). */
  --rdp-background-color-dark: #000 !important; /* Background color for the hovered/focused elements (to use in dark-mode). */
  --rdp-outline: 10px solid var(--rdp-accent-color) !important; /* Outline border for focused elements */
  --rdp-outline-selected: 3px solid var(--rdp-accent-color) !important; /* Outline border for focused _and_ selected elements */
  --rdp-selected-color: #fff !important; /* Color of selected day text */
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--rdp-background-color) !important;
  border-color: #000;
  border-width: 1px;
}

@layer components {
  span {
    @apply font-sans text-sm; /* Apply default styles for text */
  }
  h1 {
    @apply font-sans;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
